@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --base-color: #EAECFF;
    --sec-color1: #FF9900;
    --sec-color2: #505ABB;
    --sec-color3: #111827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ::selection {
    background: rgba(0, 0, 0, .2);
} */

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

.topnav {
    width: 100%;
    top: 20px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 100; */
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 10;
    background-color: white;
    padding: 10px !important;
    transition: 0.3s all;
}


.logo {
    pointer-events: none;
    margin-right: 270px;
}

.navigation a {
    text-decoration: none;
    color: var(--sec-color2);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 700;
    font-size: 18px;
}
.navigation a.icon {
    display: none;
}

.navigation a:hover, .navigation a.active {color: var(--sec-color1);}
.btn-lgn{
    background: var(--sec-color2);
    color: #fff !important;
}

.parallax {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    /* background-color: var(--base-color); */
    padding: 30px;
    padding-left: 100px;
}

.hero {
    /* position: absolute; */
    width: 40%;
    font-size: 20px;
    font-weight: 500;
    color: var(--sec-color3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
.hero h1{
    font-size: 32px;
}

#start{
    text-decoration: none;
    color: var(--base-color);
    background-color: var(--sec-color2);
    padding: 6px 15px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 24px;
}
#start:hover{
    background-color: #202e4b;
}
.hero #contact{
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    text-decoration: none;
    color: var(--sec-color3);
}
.hero #contact:hover{
    text-decoration: underline;
    color: #111827a2;
}

.ilustdo{
    width: 50%;
    display: flex;
    justify-content: end;
}
.ilustdo img{
    width: 80%;
}

.sec {
    /* position: relative; */
    padding: 100px;
}

.sec h1 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

/* SHOWCASE */
.showcase {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 100px ;
}

.showcase-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}
.showcase-text h1{
    font-size: 2em;
    color: var(--sec-color2);
    margin-bottom: 10px;
}
.showcase-text p{color: var(--sec-color3);}

  
.showcase-image{
    width: 60%;
}
.showcase-image img{
    width: 100%;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    padding: 0.3rem;
}
  /* END OF SHOWCASE */

  /* FOOTER */
footer{
    background: var(--sec-color3);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li{
    margin: 0 10px;
}

.social a{
    text-decoration: none;
    color: #fff;
}

.social a i{
    font-size: 1.1rem;
    transform: color .4s ease;
}

.social a:hover i{
    color: var(--sec-color1);
}

.footer-copyright{
    background: var(--sec-color1);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-copyright small{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
/* End Footer */


/* ################################################################################################################# ABOUT */

.container{
    background-color: #111827b6;
}
.hbout{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--base-color);
    height: 100vh;
}
.hbout video{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hbout .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



  /* BREAKPOINT TABLET */
@media screen and (max-width: 850px){
            /* Header */
        #nav{
            padding: 30px 45px;
        }
        .navigation a{
            display: none;
        }
        .navigation a.icon{
            float: right;
            display: block;
            font-size: 28px;
        }
        .topnav.responsive {
            position: fixed;
            top: 0;
            display: block;
            background-color: white;
            width: 100%;
        }
        .topnav.responsive a.icon {
            position: absolute;
            right: 30px;
            top: 30px;
            margin-left: 40px;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        .topnav.responsive nav {
            margin-right: 40px;
        }
    
        .parallax{
            padding: 70px;
        }
        .sec{
            padding: 50px;
        }
        .sec p{
            font-size: 18px;
            margin: 20px;
        }
            /* SHOWCASE */
        .showcase {
            flex-direction: column-reverse;
            text-align: start;
            padding: 1em 2em ;
            margin-bottom: 20px;
        }
        .showcase-image{width: auto;} 
        .showcase-text{
            width: auto;
            margin-left: 0;
        }
    }
    /* INDEX.PHP */
        .hbout{
            height: 90vh;
        }
        .text h2{
            margin-bottom: 20px;
        }
        .text p{
            display: none;
        }
    /* END */

    /* ABOUT.PHP */
    .hero h2{
        font-size: 32px !important;
        margin-bottom: 18px;
    }
    .hero p{
        display: none;
    }
    #btnget{
        display: flex;
        flex-direction: column;
    }
    #btnget #start{
        margin-bottom: 10px;
        width: 60%;
        font-size: 18px;
        text-align: center;
    }

    .ilustdo img{
        width: 100%;
    }
    /* END */

/* BREAKPOINT HP */
@media screen and (max-width: 450px){
    header{
        padding: 10px 20px;
    }

    .logo{
        margin-right: 85px;
    }

    .navigation a{
        margin: 0%;
    }

    .parallax{
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 60vh;
    }
    .parallax .hero{
        width: 100%;
    }
    .parallax img{
        display: none;
    }
    .parallax #btnget a{
        margin: auto;
    }
    .sec{
        padding: 30px;
    }
    .showcase{
        padding: 0;
        margin-bottom: 50px;
    }
    .showcase h1{
        font-size: 20px;
        margin: 0;
    }
    .showcase p{
        font-size: 12px;
        margin: 10px;
    }

    .footer-content p{
        font-size: 12px;
    }
}
